<div class="header">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="title">
                    <h1>BARKS</h1>
                </div>
            </div>

            <div class="standard-menu">
                {% include "menu_list.html" %}
            </div>

            <div class="mobile-menu-wrapper">
                <div class="mobile-menu">
                    {% include "menu_list.html" %}
                </div>
                <span class="glyphicon glyphicon-menu-hamburger mobile-menu-icon"></span>
            </div>

            <div class="pull-right">
                <a href="https://www.facebook.com/groups/144751602384068/" target="_blank">
                    <i class="social-media-icon facebook-blue fa fa-facebook-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </nav>

</div>
