<div class="header">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="title">
                    <h1>BARKS</h1>
                </div>
            </div>

            <div class="standard-menu">
                {% include "menu_list.html" %}
            </div>

            <div class="mobile-menu-wrapper">
                <div class="mobile-menu">
                    {% include "menu_list.html" %}
                </div>
                <span class="glyphicon glyphicon-menu-hamburger mobile-menu-icon"></span>
            </div>
        </div>
    </nav>

</div>
