/*
 *
#936518 brown
#261C66 blue
#227663 green
 * */


footer{
    height: 3em;
    width: 100%;    

    border-top: solid 2px #261C66;

    position: absolute;
    bottom: 0;
}

nav.navbar-default{
    height: 5em;
    border-bottom: solid 2px #261C66;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #227663;
}

body{
    margin-top: 5em;
    margin-bottom: 3em;
}

.animal-list-wrapper{
    margin-top: 3em;
}

.animal-list{
    margin-top: 3em;
}

.animal-listing{
    position: relative;
    margin-bottom: 2em;
}

.animal-listing h4{
    margin-top: 0;
    color: #261C66;
}

.animal-type-div{
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    border-bottom: solid 2px #261C66;
    background-color: white;
    z-index: 2;
}

.animal-listing-image{
    max-width: 100%;
}
