/*
#936518 brown
#261C66 blue
#227663 green
*/


body{
    padding-top: 5em;
    padding-bottom: 5em;

    min-height: 800px;
    min-height: 100vh;

    position: relative;

}


footer{
    height: 3em;
    width: 100%;    

    border-top: solid 2px #261C66;

    position: absolute;
    bottom: 0;
}

nav.navbar-default{
    height: 5em;
    border-bottom: solid 2px #261C66;
    background-color: rgba(255,255,255,0.5);
}

.navbar-default .navbar-nav>li>a:hover{
    color: #227663;
}

.title{
    display: inline-block;
}

.navbar-header{
    display: inline-block;
}

.animal-list-wrapper{
    margin-top: 3em;
}

.animal-list{
    margin-top: 3em;
}

.animal-listing{
    position: relative;
    margin-bottom: 2em;
}

.animal-listing h4{
    margin-top: 0;
    color: #261C66;
}

.animal-type-div{
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    border-bottom: solid 2px #261C66;
    background-color: white;
    z-index: 2;
}

.animal-listing-image{
    max-width: 100%;
}

.news-current-page-span{
    font-weight: bold;
}

.contacts{
    margin-top: 2em;
}

.contact-wrapper{
    margin-bottom: 2em;
}

.contact-name{
    margin-top: 0;
}

.bold{
    font-weight: bold;
}

iframe{
    border: none;
}

.mobile-menu-wrapper{
    display: none;
    position: fixed;
    bottom: 1em;
    right: 1em;

    background-color: #261C66;
    color: white;

    padding: 0.5em 0.75em;

    border-radius: 5px;
}


.mobile-menu{
    display: none;
}

.mobile-menu-icon{
    float: right;
}

.mobile-menu ul{
    width: 10em;
}

.mobile-menu li{
    display: inline-block;
    width: 100%;
}

.mobile-menu a{
    color: white;
}

.main-image{
    width: 50%;
    height: auto;
}

.facebook-blue{
    color: #3B5998;
}

.social-media-icon:hover{
    color: black;
}

.social-media-icon{
    font-size: 2em;
    padding-top: 0.2em;
}

@media screen and (max-width: 767px){
    .mobile-menu-wrapper{
        display: inline-block;
    }

    .standard-menu{
        display: none;
    }

    .main-image{
        width: 100%;
    }
}
