/*
#936518 brown
#261C66 blue
#227663 green
*/


body{
    padding-bottom: 5em;

    min-height: 800px;
    min-height: 100vh;

    position: relative;

}

h1{
    font-family: 'Poppins';
    font-size: 7em;
}

h3{
    color: white!important;
}

select{
    color: black;
}

button{
    color: black;
}

input{
    color: black;
}

body{
    background-image: url('/static/cat_blue.jpeg');
    background-position: 75%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
}


footer{
    height: 3em;
    width: 100%;    

    border-top: solid 2px #261C66;

    position: absolute;
    bottom: 0;
}

nav.navbar-default{
    height: 5em;
    border: none;
    border-bottom: solid 2px white;
    background-color: rgba(0,0,0,0);

    font-family: 'Roboto Slab';
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar {
    text-align: center;
}

.navbar-default .navbar-nav a{
    color: white!important;
    font-size: 1.5em;
    font-weight: bold;
}


.title{
    display: inline-block;
}

.navbar-header{
    display: inline-block;
}

.animal-list-wrapper{
    margin-top: 3em;
}

.animal-list{
    margin-top: 3em;
}

.animal-listing{
    position: relative;
    margin-bottom: 2em;
}

.animal-listing h4{
    margin-top: 0;
    color: white;
}

.animal-type-div{
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    border-bottom: solid 2px #261C66;
    z-index: 2;
}

.animal-listing-image{
    max-width: 100%;
    width: 390px;
    height: auto;
}

.news-current-page-span{
    font-weight: bold;
}

.contacts{
    margin-top: 2em;
}

.contact-wrapper{
    margin-bottom: 2em;
}

.contact-name{
    margin-top: 0;
}

.bold{
    font-weight: bold;
}

iframe{
    border: none;
}

.mobile-menu-wrapper{
    display: none;
    position: fixed;
    bottom: 1em;
    right: 1em;

    background-color: #4E3517;
    color: white;

    padding: 0.5em 0.75em;

    border-radius: 5px;
}


.mobile-menu{
    display: none;
}

.mobile-menu-icon{
    float: right;
}

.mobile-menu ul{
    width: 10em;
}

.mobile-menu li{
    display: inline-block;
    width: 100%;
}

.mobile-menu a{
    color: white;
}

.main-image{
    width: 50%;
    height: auto;
}

.social-media-icons{
    float: right;
}

.facebook-blue{
    color: #3B5998;
}

.social-media-icon{
    color: white;
}
.social-media-icon:hover{
    color: black;
}

.social-media-icon{
    font-size: 2em;
    padding-top: 0.2em;
}

.mobile-menu-wrapper{
    z-index: 3;
}

form label{
    width: 100px;
    text-align: right;
    vertical-align: text-top;
}

@media screen and (max-width: 1200px){
    h1{
        font-size: 5em;
    }
}

@media screen and (max-width: 767px){
    .mobile-menu-wrapper{
        display: inline-block;
    }

    .standard-menu{
        display: none;
    }

    .main-image{
        width: 100%;
    }
}
