{% extends 'base.html' %}

{% block content %}

    <div class="row intro-text">
        <div class="col-xs-12">
            <h2>Ways to donate & support B.A.R.K.S</h2>
            <p>B.A.R.K.S is entirely run by volunteers and operates as a self-funded charity so we receive no government funding. This means we greatly appreciate help from our supporters or volunteers in any way, shape or form! There are lots of ways in which you can support us and we will be extremely grateful for your help! See below for more details...</p>
        </div>
    </div>

    <div class="row donate-options">
        <div class="col-xs-12 col-sm-4">
            <h3>Membership</h3>
            <p>Become a member of B.A.R.K.S to receive updates, , newsletters, event invitations, entry in to prize draws, raffle books and more...</p>
            <p>Yearly membership fees are as follows:</p>
            <ul>
                <li>Single membership  - £10</li>
                <li>Family membership  - £15</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3>Donate</h3>
            <p>B.A.R.K.S now has an Amazon Wishlist whereby you can purchase an item on the list from Amazon as usual and it will then be delivered directly to us and the animals! Items are priced as low as 22p so your contribution can be as large as small as you like. See the list by clicking here</p>
            <p>Cheque donations can be made out to B.A.R.K.S and posted to the adress on the 'contacts' page</p>
            <p>Please use the Donate button to make a Paypal payment. Please be generous!</p>
            <iframe width="100%" height="100%" src="http://www-barks-org-uk.usrfiles.com/html/a4a57d_e1b70950acc8b27ff1b7f7bdb1dc2fbd.html" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1vud.1.$Cntnr3-z0e.3.$hyvli0kz.0.0"></iframe>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3>Give</h3>
            <p>If you have any old items suitable for car boot sales, jumble stalls or raffle prizes, please consider giving to B.A.R.K.S We can make use out of almost any items we are given and all goes towards helping the animals. Collection of donations can be made in most circumstances and larger or higher value items ocassionaly go up for auction.</p>
        </div>
    </div>

    <div class="row volunteering">
        <div class="col-xs-12">
            <h3>Volunteering</h3>
            <p class="bold">Volunteering is a great way to get involved with animals and help out a local charity, there are volunteer roles to suit everyone!</p>
            <p>On a practical level, volunteers can find themselves helping out with the daily care of B.A.R.K.S animals. This usually involved feeding, cleaning, socialising and giving lots of cuddles. We have animals at various locations so please feel welcome to get in touch for further details.</p>
            <p>Fundraising events also require lots of hands on deck! Events vary from jumble sales, local collections, fetes and open days so if you would like to come along and lend a hand let us know, we are very grateful for extra help.</p>
            <p>Fostering animals is also a very rewarding volunteering role. Foster homes give temporary shelter to B.A.R.K.S animals while they recover and wait to find a new home. You can help a foster animal long or short term by offering a safe home environment and lots of love.</p>
        </div>
    </div>

{% endblock %}
