{% extends 'base.html' %}

{% block content %}
    <p>Banbury Animal Rescue and Kindness Service- telephone  07427 063178 is a small, local, self-funding, volunteer-run local charity dedicated to the rescue, care and re-homing of cats, kittens, rabbits, guinea pigs and small rodents. </p>
    <p>BARKS have been operating since 1986 and became a Registered Charity in 1997. Registered Charity number 1163343</p>

    {% load static %}
    <script src="{% static "test.js" %}"></script>
{% endblock %}
