{% extends 'base.html' %}

{% block styles %}
 
    {% load static %}
    <link href="{% static 'index-style.css' %}" rel="stylesheet"></script>
   
{% endblock %}

{% block content %}
    <h3>About B.A.R.K.S</h3>
    <p>Banbury Animal Rescue and Kindness Service- telephone  07427 063178 is a small, local, self-funding, volunteer-run local charity dedicated to the rescue, care and re-homing of cats, kittens, rabbits, guinea pigs and small rodents. </p>
    <p>BARKS have been operating since 1986 and became a Registered Charity in 1997. Registered Charity number 1163343</p>
    <h3>Our 'No-Euthenasia' Policy</h3>
    <p>We take in stray and unwanted cats, kittens, rabbits and guinea pigs and find them good, caring, approved homes, and also take in distressed</p>
    <h3>Why do we charge adoption fees?</h3>
    <p>All rescue charities have to charge adoption fees.  If we didn't charge, we could not afford to run. Very simple really! As a 100% volunteer-run, and 100% self-financed charity, adoption fees contribute to the overall costs of rescuing and caring for lost and lonely animals.</p>
    <h3>What is the adoption procedure?</h3>
    <p>To adopt a cat, either phone us or email us.  If you are interested in a specific cat that you have ssen on the website then let us know as quickly as possible.  We will arrange for you to view/meet the cats, by appointment.  Once you have made a decision we will carry out a polite, informal and hopefully informative home visit.   Provided the home visit is positive, then a formal handover takes place at which point you pay the adoption fee, sign the papers, and take your new family member(s) home.  For the smaller furries (rabbits, guinea pigs, ferrets, hamsters, gerbils, rats, degus), we normally cover most points during the adoption meeting at our premises. Help and advice on bonding animals to live together is all part of the service. </p>
{% endblock %}
